<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="/static/js/jquery.js"></script>
    {% block js %} {% endblock %}
</head>
<body>
    <div>QCRT: <a href="/">Home</a> <a href="/login">Login</a></div>
    <hr>

    {% block content %} {% endblock %}
</body>
</html>