{% extends "basic.html" %}
{% import "render.html" as render %}

{% block content %}
    <div class="row mb-3">
        {{ render.render_field(selector.codeLine, class="col-sm-1 col-form-label", onchange="selectChange()") }}
        {{ render.render_field(selector.changeList, class="col-sm-1 col-form-label") }}
        <div class="col-md-2">
        {{ selector.summary() }}
        </div>
    </div>
    <div id="main_div">
    </div>
    <br>
    <div id="detail_div"></div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}