{% for list_of_table_datas in table_datas|batch(2, {}) %}
<div class="row">
    {% for table_data in list_of_table_datas %}
    {% if table_data %}
    {% set test_type = table_data.keys()|first %}
    {% set table_data_value = table_data.values()|list|first %}
    <div class="col" >
        <table class="table table-striped"  border="3">
            {% if table_data_value %}
            <tr>
                <td colspan={{ headers|length }} align="center">
                    {{ test_type }} Summary&nbsp&nbsp&nbsp&nbsp&nbsp{{ code_line }} {{ change_list }}
                </td>
            </tr>
            <tr>
                {% for header in headers  %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
            {% for test_case, result in table_data_value.items() %}
                <tr>
                    <td>{{ test_case }}</td>
                    <td>{{ result['total']|safe }}</td>
                    <td>{{ result['pass']|safe }}</td>
                    <td>{{ result['rerun_pass']|safe }}</td>
                    <td>{{ result['skip']|safe }}</td>
                    <td>{{ result['fail']|safe }}</td>
                    <td>{{ result['error']|safe }}</td>
                    <td>{{ result['inconclusive']|safe }}</td>
                    <td>{{ result['duration']|safe }}</td>
                </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td align="center">
                    {{ test_type }} Summary&nbsp&nbsp&nbsp&nbsp&nbsp{{ code_line }} {{ change_list }}
                </td>
            </tr>
            <tr><td align="center">No Data</td></tr>
            {% endif %}
        </table>
    </div>
    {% else %}
    <div class="col"><table></table></div>
    {% endif %}
    {% endfor %}
</div>
{% endfor %}